html, body {
    /* width:1500px; */
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
  }

.slide-wrap{
    width:100%;
    height:100%;
    position:relative;
    /* padding-top: 35px;   
    padding-bottom: 15px; */
}
.slider {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
.slide {
    width: 100%;
    flex-shrink: 0;
    height: 700px;
    background-color: white;
    text-align: center;
    /* font-size: 100px; */
    position:relative;
    color:black;
    /* border:5px solid green */
}
.slidebox{
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    /* border:5px solid black; */
}

.jumps{
    text-align: center;
    /* z-index: 1; */
    position: absolute;
    top:85%;
    left:35%;
    /* border:5px solid green */
}
.jumpp{
    position:absolute;
    text-decoration: none;
    text-align: center;
    color:black; 
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
}
.jump{
    position:relative;
    /* border-radius: 50%; */
    background-color: transparent;
    display: inline-block;
    width:190px;
    height:30px;
    margin-top:10px;
    margin-left:3px;
    margin-right: 3px;
}

#j1:hover , #j2:hover , #j3:hover , #j4:hover , #j5:hover{
    border-bottom: 3px solid #ffd9d0;
}
#j1{
    border-bottom: 3px solid #feb478;
}
#j2{
    border-bottom: 3px solid #ff7e5f;
}
#j3{
    border-bottom: 3px solid #765285;
}
#j4{
    border-bottom: 3px solid #482768;
}
#j5{
    border-bottom: 3px solid #38105e;
}
::-webkit-scrollbar{
    scroll-behavior: none;
}

.open{
    height: 100%; 
    position:fixed;
    top: 0px;
    font-size: 30px;
    width:100%;
    background-color: pink; 
    transition: top 1.2s;
}
.in{
    display: inline-block;
    height: 50%; 
    position:fixed;
    top: 50%;
    font-size: 30px;
    z-index:999;
}
.inn{
    display: inline-block;
    height: 50%; 
    position:fixed;
    top: 0;
    font-size: 30px;
    z-index:999;
}
a{
    color:white;
    text-decoration: none;
    font-weight: 500;
}
/* #b{
    width: 100%;
    left:0;
    background-color: #CCA290; 
    transition: top 1.2s;
} */
#b1{
    width: 51%;
    left:0;
    background-color: #FFD500; 
    transition: left 0.9s;
}
#b2{
    width: 49%;
    right:0;
    background-color: #90B6A5; 
    transition: right 0.5s;
}
#b3{
    width: 51%;
    left:0;
    top:0;
    background-color: #CCA290; 
    transition: left 0.7s;
}
#b4{
    width: 49%;
    right:0;
    top:0;
    background-color: #FFD500; 
    transition: right 0.8s;
}
.click{
    position:absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    width:100%;
    height:100%;
}
#menu{
    width:65px;
    height:65px;
    border:5px solid black;
    border-radius: 5px;
    background-color: transparent;
    color:black;
    font-weight: 700;
    position:fixed;
    top:10px;
    left:10px;
    z-index:999;
    cursor: pointer;
}

.overlay {
    position: absolute;
    height: 50px;
    width: 50px;
    opacity: 0;
    transition: .25s ease;
    background-color: white;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#ar{
    top:74.15%;
    left:24.60%;
}
#br{
    top:67%;
    left:36%;
}
#us{
    top:50%;
    left:17%;
}
#can{
    top:25%;
    left:18%;
}
.ar:hover .overlay, .br:hover .overlay,.us:hover .overlay, .can:hover .overlay {
    opacity: 1;
}
.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.AR{
    position: absolute;
    transform: translate(-50%,-50%);
    top:74.15%;
    left:29.60%;
    width:2.5%;
    height:auto;
    cursor: pointer;
    z-index: 3;
    /* border:5px solid red; */
}
.BR{
    position: absolute;
    transform: translate(-50%,-50%);
    top:67%;
    left:31%;
    width:5.3%;
    cursor: pointer;
    z-index: 2;
    /* border:5px solid red; */
}
.JM{
    position: absolute;
    transform: translate(-50%,-50%);
    top:55%;
    left:31%;
    width:5.3%;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
    background: #765285;
    width:50px;
    height: 50px;
    /* border:5px solid red; */
}
.JM:hover{
    background: #aa50ce;
}
.jm{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top:50%;
    font-weight: 600;
    color:white;
    font-size:10px;
}
.US{
    position: absolute;
    transform: translate(-50%,-50%);
    top:44.75%;
    left:22%;
    width:14%;
    cursor: pointer;
    z-index: 0;
    /* border:5px solid red; */
}
.CAN{
    position: absolute;
    transform: translate(-50%,-50%);
    top:33%;
    left:25%;
    width:12.3%;
    cursor: pointer;
    z-index: 1;
    /* border:5px solid red; */
}
.none{
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:25%;
    width:23%;
    z-index: -1;
    /* border:5px solid red; */
}